In [40]:
#!pip install pymysql

In [41]:
import pymysql
# from sshtunnel import SSHTunnelForwarder
#import mysql.connector
import pandas as pd
from tqdm import tqdm

## Connecting to the DB instance

In [42]:
host = 'database.c5qerzx5gva8.us-east-2.rds.amazonaws.com'
user = 'admin'
password = 'Admin123!'
database = 'database'
port = 3306

In [43]:
db = pymysql.connect(host=host, user=user, password=password)

In [44]:
cursor = db.cursor()

## Creating DB & tables

In [39]:
sql = '''create database hse'''
#cursor.execute(sql)

In [ ]:
cursor.connection.commit()

In [16]:
sql = '''use hse'''
cursor.execute(sql)

0

In [17]:
len('2021-12-05')

10

In [23]:
sql = '''drop table housing_faq'''
cursor.execute(sql)

0

In [24]:
sql = '''
create table housing_faq (
   event_date CHAR(10),
   question VARCHAR(65534),
   answer VARCHAR(65534)
)
'''
cursor.execute(sql)

0

In [27]:
sql = '''drop table costs'''
cursor.execute(sql)
sql = '''
create table costs (
   event_date CHAR(10),
   which VARCHAR(65534),
   programme VARCHAR(65534),
   tuition VARCHAR(65534)
)
'''
cursor.execute(sql)

0

In [30]:
#sql = '''drop table rankings'''
#cursor.execute(sql)
sql = '''
create table rankings (
   event_date CHAR(10),
   ranking VARCHAR(65534),
   subject VARCHAR(65534),
   place_world VARCHAR(65534),
   place_russia VARCHAR(65534)
)
'''
cursor.execute(sql)

0

In [32]:
sql = '''drop table programmes'''
cursor.execute(sql)

sql = '''
create table programmes (
   event_date CHAR(10),
   programme VARCHAR(65534),
   faculty VARCHAR(65534),
   link VARCHAR(65534),
   type VARCHAR(65534),
   department VARCHAR(65534),
   location VARCHAR(65534),
   duration VARCHAR(65534),
   schedule VARCHAR(65534),
   language VARCHAR(65534)
)
'''
cursor.execute(sql)

0

In [35]:
sql = '''show tables'''
cursor.execute(sql)
cursor.fetchall()

(('costs',), ('housing_faq',), ('programmes',), ('rankings',))